{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
<title> Check out</title>
<script>
var promotion = {{ promotion|safe }};
window.onload = function () {
  console.log(promotion);
 const app = new Vue ({
   el: '#check-out',
   delimiters: ['[[',']]'],
   data: {
     item_dict: JSON.parse(localStorage.getItem('items')),
     total: 0,
    
   },
  
   
   methods:{
     remove_item(item_key){
       delete this.item_dict[item_key];
       const parsed = JSON.stringify(this.item_dict);
       localStorage.setItem('items', parsed);
       this.$forceUpdate();
       this.total_price();
     },


     total_price(){
       var sum = 0;
       for(var key in this.item_dict){
         let item = this.item_dict[key];
         let price_str = (item.price).slice(0,-1);
         let product = parseFloat(price_str) * parseInt(item.quantity);
         sum += product;
       }
       return this.total = sum; 
     },

     check_card(e){
       var cardno_visa = /^(?:4[0-9]{12}(?:[0-9]{3})?)$/;
       var cardno_master = /^(?:5[1-5][0-9]{14})$/;
       var card_number = document.getElementById('id_credit_number').value;

       if (card_number.match(cardno_visa) || card_number.match(cardno_master)){
         return true;
       }
       else{
         e.preventDefault();
         alert('Please use Visa or Master Card!');
       }
     },

     check_promotions(){
       var promotions = document.getElementById('id_promotions');
     }

   }
   
 })
app.total_price();
 
}

</script>

{% endblock %}

{% block body %}

<div id="check-out">

<div class="d-flex flex-row justify-content-center">
  <table class="table w-auto margin-div">
  <thead>
    <tr>
      <th scope="col">Items</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  
  <template v-for="item in item_dict">
    <tr>
      <td>[[ item.name ]]</td>
      <td>[[ item.price ]]</td>
      <td>[[ item.quantity ]]</td>
      <td><button v-on:click='remove_item([[ item.name ]])' class="btn btn-outline-danger" title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg></button></td>
    </tr>
  </template>
  </tbody>
</table>
<br>
  

</div>

<h2 class="d-flex flex-row justify-content-center">Total price:[[ total ]]€</h2>
<div class="d-flex flex-row justify-content-center">
<form method="POST" class="post-form">

    <label>{{ form.promotions.label }} </label>
  <div class="form-group"> {{ form.promotions }}</div>

    <label>{{ form.email.label }} </label>
  <div class="form-group"> {{ form.email }}</div>

  <label>{{ form.address.label }} </label>
  <div class="form-group"> {{ form.address }}</div>

  <label>{{ form.card_number.label }} </label>
  <div class="form-group"> {{ form.card_number }}</div>

  <label>{{ form.cve.label }} </label>
  <div class="form-group"> {{ form.cve }}</div>
  <br>
<div>
  <button v-on:submit='check_card()' type="submit" class="btn btn-success">Check out</button>  
  <a class="btn btn-warning" href="{% url 'index' %}" role="button" title="Back to items!"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg> Items</a>
    </div>
</form>
</div>
  

</div>



   
  
{% endblock %}