.margin-div{
    margin-top: 60px !important;
    font-size: 30px;
}


.navs-link{
    
    margin-top: 5px !important;
    font-size: 50px;
    
}

.form-control-inline {
   
    width: 150px !important;
    
}